body {
    background-color: #B1D0E0;
    padding: 10px;
}

footer {
    position: fixed;
    padding: 10px;
    left: 0;
    bottom: 0;
    text-align: left;
}

a {
    text-decoration: none;
}

.btn, .form-control, .sr-only {
    margin-top: 10px;
}

